*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    /*Site para gerar imagens cada vez que recarrega a pagina https://loremflickr.com/1600/900/nature, landscape*/
    background-image: url("https://loremflickr.com/1600/900/nature,landscape");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /*100% da altura da tela - View height*/
    width: 100vw; /*100% da largura da tela - View width*/
    display: flex; /*Flexbox para alinhar os itens filhos(caixas e botoes)*/
    align-items: center;
    justify-content: center;
}

.caixaMaior{
    background-color: rgba(240, 248, 255, 0.753);
    width: 450px;
    padding: 20px;
    border-radius: 15px;
}

/*Problema da resposta da IA estar amontoada, input e button estavam sem div agrupando o topo, fazendo o navegador tratar cada um separado,
float no botao removia ele do fluxo normal e fazia o conteúdo seguinte ignorar altura*/

.topo{
    display: flex;
    align-items: center;
}

.inputCidade{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(233, 233, 221);
    color: black;
    font-size: 20px;
    flex: 1; /*Faz o input ocupar todo o espaço disponível*/
}

.botao{
    padding: 10px;
    border: none;
    background-color: rgb(233, 233, 221);
    border-radius: 50%;
    margin-left: 10px;
    /*Não usar float, é css antigo e tira o elemento do fluxo vertical*/
    transition: 0.5s; /*Adiciona uma transição suave para o efeito hover*/
}

.botao:hover{
    background-color: rgb(211, 191, 125);
    cursor: pointer; /*Muda o cursor para uma mãozinha quando passa por cima do botão*/
    transform: scale(1.4);
}

.caixaMedia{
    margin-top: 20px;
    height: auto;
}

.cidade{
    font-size: 30px;
    color: black;
}

.temperatura{
    font-size: 34px;
    color: black;
    margin-top: 10px;
    font-weight: bold;
}


.umidade{
    color: black;
}

.botaoIA{
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 18px;
    color: black;
    background-color: rgb(211, 191, 125);
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.botaoIA:hover{
    background-color: rgb(180, 160, 100);
    transform: scale(1.05);
}

.botaoIA:active{
    transform: scale(0.98);/*Efeito de clique no botão*/
    opacity: 0.8;
}

.respostaIA{
    color: black;
    margin-top: 15px;
    line-height: 1.4;
    height: auto;
    background-color: rgb(233, 233, 221);
    text-align: justify;
    text-justify: justify;
    padding: 10px;
    border-radius: 10px;
}

.alinharCentro{
    display: flex;
    flex-direction: column;
    align-items: center;
}